.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.phone-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
}

button {
  width: 70px;
  height: 50px;
  margin: 1%;
}
